.bzr
.bzrignore
*~
.#*
[#]*#
*.a
*.o
*.py[co]
*.so
*.sw[nop]
__pycache__
bzr-orphans
.xvpics
*.pdf
*.od[pst]
*.sxw
*.wpd
*.doc
*.ppt
*.xls
*.avi
*.swf
*.svg
*.ico
*.gif
*.tif
*.jpg
*.png
*.xbm
*.xcf
*.mpg
*.mov
*.mp3
*.ogg
*.gz
*.tgz
*.bz2
*.zip
*.rpm
*.deb
*.hqx
*.spo
*.db
*.mdb
*.djvu
*.fig
*.egg
./images
./.python-eggs
*passwd*
